@using DinoPetStore.EF
@using PagedList.Mvc;
@model PagedList.PagedList<DinoPetStore.EF.KICHTHUOC>

@{
    ViewBag.Title = "TRANG QUẢN LÝ KÍCH THƯỚC SẢN PHẨM";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>TRANG QUẢN LÝ KÍCH THƯỚC SẢN PHẨM</h2>
<div class="row form-group-sm">
        <div class="btn btn-group btn-sm col-sm-2" style="padding-top: 0px;">
            <a href="@Url.Action("Create", "KichThuoc")" class="btn btn-sm btn-success">THÊM MỚI</a>
        </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">DANH SÁCH THƯƠNG HIỆU</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div><div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="MASP: activate to sort column descending" style="width: 155.281px;">Mã Sản Phẩm</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="TENSP: activate to sort column ascending" style="width: 140px;">Tên Sản Phẩm</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="TENKICHTHUOC: activate to sort column ascending" style="width: 140px;">Tên Kích Thước</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SANPHAM.MASP)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SANPHAM.TENSP)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TENKICHTHUOC)

                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", "KichThuoc", new { id = item.MAKICHTHUOC })">
                                                <img src="~/img/icons/icon_Sua.png" />
                                            </a>|
                                            <a href="@Url.Action("Details", "KichThuoc", new { id = item.MAKICHTHUOC })">
                                                <img src="~/img/info_25px.png" />
                                            </a>|
                                            <a href="@Url.Action("Delete", "KichThuoc", new { id = item.MAKICHTHUOC })">
                                                <img src="~/img/icons/icon_Xoa.png" />
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    Trang @(@Model.PageNumber>Model.PageCount?Model.PageCount: Model.PageNumber)/@Model.PageCount
</div>
<div align="center">@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))</div>
<link href="~/Content/phantrang.css" rel="stylesheet" />