@model DinoPetStore.EF.HINH

@{
    ViewBag.Title = "TRANG THÊM MỚI HÌNH CHO SẢN PHẨM";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>TRANG THÊM MỚI HÌNH CHO SẢN PHẨM</h2>

@using (Html.BeginForm("Create", "Hinh", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-left: 10px">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label><strong>Tên Sản Phẩm:</strong></label>
            <div  >
                @Html.DropDownList("MASP")
            </div>
        </div>
        <br />
        <div class="form-group">
            <label><strong>Hình Ảnh:</strong></label>
            <div  >
                <input type="file" name="fileUpload" Required="required" />
                @ViewBag.Thongbao
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-success" /> |
                <a href="@Url.Action("Index", "Hinh")" class="btn btn-danger">
                    <span class="text">Huỷ</span>
                </a>
            </div>
        </div>
    </div>
}


