@using DinoPetStore.EF
@using PagedList.Mvc
@using PagedList
@model PagedList.PagedList<DinoPetStore.EF.HINH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản Lí Hình Ảnh</h2>

<h5 style="width:100%; padding-top:20px">
    <u>
        <img style="margin-left:25px" src="~/img/icons/add.png" />
        @Html.ActionLink("THÊM HÌNH MÔ TẢ", "Create")
    </u>
</h5>
<table class="table">
    <tr>
        <th> Tên Sản Phẩm </th>
        <th> Hình Ảnh </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SANPHAM.TENSP)
            </td>
            <td>
                <img src="@Url.Content("~/img/"+  item.HINH1)" width="120px" />
            </td>
            <td>

                <a href="@Url.Action("Edit", "Hinh", new { id = item.MAHINH })">
                    <img src="~/img/icons/icon_Sua.png" />
                </a>|
                <a href="@Url.Action("Edit", "Hinh", new { id = item.MAHINH })">
                    <img src="~/img/info_25px.png" />
                </a>|
                <a href="@Url.Action("Delete", "Hinh", new { id = item.MAHINH })">
                    <img src="~/img/icons/icon_Xoa.png" />
                </a>
            </td>
        </tr>
    }

</table>
<div>
    Trang @(@Model.PageNumber>Model.PageCount?Model.PageCount: Model.PageNumber)/@Model.PageCount
</div>
<div align="center">@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))</div>
<link href="~/Content/phantrang.css" rel="stylesheet" />
