<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Dino's Pet Store</title>
    <link rel="shortcut icon" href="~/img/logo/petlove.png" type="image/png" />
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Asses/User/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asses/User/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="~/Asses/User/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/Asses/User/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Asses/User/js/move-top.js"></script>
    <script type="text/javascript" src="~/Asses/User/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
    <script src="~/Scripts/site.js"></script>
    <!-- start-smoth-scrolling -->

    <style>
        .hoverCart {
            position: relative;
        }

            .hoverCart .tooltiptext {
                visibility: hidden;
                background-color: #fff;
                border-radius: 6px;
                position: absolute;
                z-index: 1;
                left: -360px;
                background-color: floralwhite;
                top: 40px;
                opacity: 0;
                transition: opacity 0.3s;
            }

                .hoverCart .tooltiptext::before {
                    content: "";
                    position: absolute;
                    top: -24px;
                    left: 360px;
                    margin-left: 0px;
                    border-width: 12px;
                    border-style: solid;
                    border-color: transparent transparent #fff transparent;
                }

        /* .hoverCart:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
            }*/
    </style>
</head>

<body>
    <!-- header -->
    <div class="agileits_header">
        <div class="container">
            <div class="w3l_offers">
                <p>Khuyến Mãi Mua Lần Đầu. Nhập Ngay Code "SALE70%" . <a href="@Url.Action("sanpham", "User")">Mua Ngay Thôi</a></p>
            </div>
            <div class="agile-login">
                <ul>
                    <li><a href="@Url.Action("dangky", "User")"> Đăng Ký </a></li>
                    <li><a href="@Url.Action("Lienhe", "User")">Help</a></li>

                </ul>
            </div>
            <div class="product_list_header hoverCart">
                <button><i class="fa fa-cart-arrow-down" id="viewCart" aria-hidden="true"></i></button>
                <div class="tooltiptext" style="height: fit-content;padding:10px;font-size:small">
                    <div class="form-group form-group-sm row" style="margin-bottom:0px!important">
                        <div class="col-sm-12" id="content-cart">

                        </div>
                    </div>
                    <div class="form-group form-group-sm row" style="margin-bottom:0px!important" id="footer-cart">
                        <div class="col-sm-6 col-xs-6" id="totalPrice">TỔNG TIỀN: </div>
                        <div class="col-sm-6 col-xs-6 text-right"><a class="text-success" href="/Giohang/DatHang">ĐẶT HÀNG >> </a></div>
                    </div>

                </div>

            </div>
            @*<div class="product_list_header">
            <form action="@Html.ActionLink("GiohangPartial", "GioHang")" method="post" class="last">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="display" value="1">
                <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                <a href="@Url.Action("Giohang", "GioHang")" >Giỏ Hàng Của Tôi</a>
            </form>
        </div>*@
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left1">
                <ul class="phone_email">
                    <li><i class="fa fa-phone" aria-hidden="true"></i>Ship Cod Toàn Quốc Gọi Vào Số : (+084) 939 542 288</li>

                </ul>
            </div>
            <div class="w3ls_logo_products_left">
                <h1><a href="@Url.Action("Index", "User")">Dino's Pet Store</a></h1>
            </div>
            <div class="w3l_search">
                <form action="@Url.Action("Ketquatimkiem", "User")">
                    @using (Html.BeginForm(FormMethod.Get))
                    {
                        <input id="SearchString" type="search" name="SearchString" placeholder="Nhập để tìm kiếm sản phẩm..." required="">
                        <button type="submit" class="btn btn-default search" aria-label="Left Align">
                            <i class="fa fa-search" aria-hidden="true"> </i>
                        </button>
                    }
                    <div class="clearfix"></div>
                </form>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- navigation -->
    <div class="navigation-agileits">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index", "User")" class="act">Trang Chủ</a></li>

                        <!-- Mega Menu -->
                        <li class="active"><a href="@Url.Action("gioithieu", "User")" class="act">Giới Thiệu</a></li>
                        <li class="dropdown">
                            <a href="@Url.Action("sanpham", "User")" class="dropdown-toggle" data-toggle="dropdown">Sản Phẩm<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6>Loại Sản Phẩm</h6>
                                            <li>
                                                @Html.Action("loai", "User")
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("thuonghieu", "User")" class="dropdown-toggle" data-toggle="dropdown">Thương Hiệu<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6>Các Thương Hiệu</h6>
                                            <li>
                                                @Html.Action("thuonghieu", "User")
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("GiamGia", "User")">Giảm Giá</a></li>
                        <li><a href="@Url.Action("Lienhe", "User")">Liên Hệ</a></li>
                        <li>
                            @if (Session["Taikhoan"] != null)
                            {
                                var kh = Session["Taikhoan"] as DinoPetStore.EF.KHACHHANG;
                                <a href="@Url.Action("thongtincanhan","User")">
                                    <span>
                                        <img class="img-profile rounded-circle" style="height: 3.5rem; width: 3rem" src="@Url.Content("~/img/" + kh.HINHANH)" />
                                    </span>
                                </a>

                            }
                            else
                            {
                                <a href="@Url.Action("dangnhap", "User")"> Tài Khoản</a>
                            }
                        </li>
                        <li>
                            @if (Session["Taikhoan"] != null)
                            {
                                <a href="@Url.Action("dangxuat","User")"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                            }
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- //navigation -->
    <!-- //top-header and slider -->
    <!-- top-brands -->
    @RenderSection("slider2", required: false)
    <!-- //top-brands -->
    <!--RenderBody-->

    @RenderBody()




    <!-- //footer -->
    <div class="footer">
        <div class="container">
            <div class="w3_footer_grids">
                <div class="col-md-3 w3_footer_grid">
                    <h3>LIÊN HỆ</h3>

                    <ul class="address">
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Số 35 B19 , KDC 91B <span>Ninh Kiều, Cẩn Thơ.</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:thng1701@gmail.com">thng1701@gmail.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>(+84) 939 542 288</li>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>THÔNG TIN VỀ CHÚNG TÔI</h3>
                    <ul class="info">
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="@Url.Action("gioithieu", "User")">Về Chúng Tôi</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="@Url.Action("Lienhe", "User")">Liên Hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>SẢN PHẨM</h3>
                    <ul class="info">
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="@Url.Action("sanpham", "User")">Sản Phẩm</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="@Url.Action("thuonghieu", "User")">Thương Hiệu</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="personalcare.html">Tin Tức</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="packagedfoods.html">Giải Trí</a></li>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Cá Nhân</h3>
                    <ul class="info">
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="@Url.Action("GioHang", "GioHang")">Giỏ Hàng Của Tôi</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="@Url.Action("dangnhap", "User")">Đăng Nhập</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="@Url.Action("dangky", "User")">Đăng Ký</a></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="footer-copy">

            <div class="container">
                <p>© 2022 Dino's Pet Store'. All rights reserved | Design by <strong>Thanh Nguyen</strong></p>
            </div>
        </div>

    </div>
    <div class="footer-botm">
        <div class="container">
            <div class="w3layouts-foot">
                <ul>
                    <li><a href="https://www.facebook.com/thng1701" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/" class="w3_agile_vimeo"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="payment-w3ls">
                <img src="~/img/icons/card.png" alt=" " class="img-responsive">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Asses/User/js/bootstrap.min.js"></script>

    <!-- top-header and slider -->
    <!-- minicart -->
    <script type="text/javascript">
        $(document).ready(function () {
            //var checkClick = false;
            $("#viewCart").on("click", function () {
                window.location.href = "/GioHang/Giohang";
            });
            $('.hoverCart').hover(
                function () {
                    getListMiniCart();
                },

                function () {
                    $(".tooltiptext").css("visibility", "hidden");
                    $(".tooltiptext").css("opacity", 0);
                }
            );
            $().UItoTop({ easingType: 'easeOutQuart' });

        });

        function getListMiniCart() {
            var totalQuan = 0;
            $.ajax({
                type: "GET",
                url: "/GioHang/getListCart",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var check = false;
                    var html = "";
                    if (data.length > 0) {
                        var totalPrice = 0;
                        $.each(data, function (index, item) {
                            totalPrice += item.iSOLUONG * item.dDONGIA;
                            html += `<div class="form-group form-group-sm row">
                                        <div class="col-sm-2 col-xs-2"><img src="/img/${item.gHINHANH}" width="40" height="50" /> </div>
                                        <div class="col-sm-8 col-xs-8">${item.gTENSP}</div>
                                        <div class="col-sm-2 col-xs-2" style="padding:0px">${item.iSOLUONG}x${item.dDONGIA}</div>
                                        </div><hr />`;
                        });
                        var footercart = ` <div class="col-sm-6 col-xs-6" id="totalPrice">TỔNG TIỀN: ${totalPrice} </div>
                                                <div class="col-sm-6 col-xs-6 text-right"><a class="text-success" href="/Giohang/DatHang">ĐẶT HÀNG >> </a></div>`
                        $("#footer-cart").html(footercart);
                        /*$(".tooltiptext").css("margin-left", "365px")*/
                    } else {
                        html += `<div class="form-group form-group-sm row" style = "text-align: center;width: 401px;margin-top: 15px;"><div class="col-sm-12 col-xs-12"><b>Không có sản phẩm nào trong giỏ</b></div></div>`;

                        $("#footer-cart").html("");
                    }
                    $("#content-cart").html(html);
                    $(".tooltiptext").css("visibility", "visible");
                    $(".tooltiptext").css("opacity", 1);
                },
                failure: function (response) {
                    alert(response)
                    DevExpress.ui.notify(response, 3000);
                },
                error: function (response) {
                    alert(response)
                }
            })
        }

    </script>
    <!-- //here ends scrolling icon -->
  
    <!-- main slider-banner -->
    <script src="~/Asses/User/js/skdslider.min.js"></script>
    <link href="~/Asses/User/css/skdslider.css" rel="stylesheet" />
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#demo1').skdslider({ 'delay': 5000, 'animationSpeed': 2500, 'showNextPrev': true, 'showPlayButton': true, 'autoSlide': true, 'animationType': 'fading' });

            jQuery('#responsive').change(function () {
                $('#responsive_wrapper').width(jQuery(this).val());
            });

        });
    </script>
    <!-- //main slider-banner -->
</body>
</html>