@model DinoPetStore.EF.PHIEUNHAPKHO

@{
    ViewBag.Title = "Trang chi tiết kho hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG CHI TIẾT</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày nhập kho:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYNK)
        </dd>

        <dt>
            Mã sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MASP)
        </dd>

        <dt>
            Số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

    </dl>
</div>


<div class="col-md-offset-2 col-md-10">
    <a href="@Url.Action("Edit", "KhoHang", new { id = Model.MAPHIEUNK })" class="btn btn-success">Sửa</a> |
    <a href="@Url.Action("Index", "KhoHang")" class="btn btn-primary">Quay Lại Trang Quản Lý</a>
</div>