
@foreach (var item in Model)
{
    <div class="snipcart-thumb">
        <a href="@Url.Action("Chitiet", "User" , new { id = item.MASP })"><img title=" " alt=" " src="@Url.Content("~/img/" + @item.MASP)"></a>
        <p>@item.SANPHAM.TENSP</p>
        <h4>@item.PHANTRAMGIAM</h4>
    </div>
    <div class="snipcart-details top_brand_home_details">
        <form action="#" method="post">
            <fieldset>
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="business" value=" ">
                <input type="hidden" name="item_name" value="@item.SANPHAM.TENSP">
                <input type="hidden" name="amount" value="35.99">
                <input type="hidden" name="discount_amount" value="@item.PHANTRAMGIAM">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="return" value=" ">
                <input type="hidden" name="cancel_return" value=" ">
                <input type="submit" name="submit" value="Add to cart" class="button">
            </fieldset>
        </form>
    </div>
}


