
@{
    ViewBag.Title = "Tìm Kiếm - Dino's Pet Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="PageContainer" class="is-moved-by-drawer">
    <main class="main-content" role="main">


        <section id="collection-wrapper">
            <div class="wrapper">

                <div class="inner">
                    <div class="grid">
                        <div class="grid__item large--one-whole">

                            <h1 class="search-h1 text-center" style="margin-block-start: 10px"><strong>Kết quả tìm kiếm</strong><br></h1>
                            <div class="grid-uniform search-body-wrapper">
                                <!-- begin grid search results-->

                                @foreach (var i in Model)
                                {
                                    <div class="search-item grid__item large--one-quarter medium--one-third small--one-half">
                                        <div class="product-item">
                                            <div class="product-normal">
                                                <div class="product-img">
                                                    <a href="~/User/chitiet/@i.MASP">
                                                        <img src="@Url.Content("~/img/"+ @i.HINHANH)" height="255">
                                                    </a>
                                                    <div class="product-tags">
                                                    </div>
                                                    <div class="product-actions text-center clearfix">
                                                        <div>
                                                            <button type="button" class="btnBuyNow buy-now medium--hide small--hide" onclick="window.location.href='@Url.Action("ThemGiohang", "GioHang", new { @iMASP= i.MASP, @strURL=Request.Url.ToString() })'"><span>Thêm Giỏ Hàng</span></button>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--thanh nhỏ ở dưỡi-->
                                                <div class="product-variants-info">
                                                    <div class="product-variants-count">

                                                        <div class="list-variants-img medium--hide small--hide">
                                                            <div class="inner">
                                                                <ul class="no-bullets clearfix text-center">
                                                                    @*@Html.Action("listhinhanhnhoduoi", new { id = i.MASP })*@
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="product-title">
                                                    <a href="~/User/chitiet/@i.MASP">@i.TENSP</a>
                                                </div>

                                                <div class="product-price clearfix">
                                                    <span class="current-price">@String.Format("{0:0,0}", @i.DONGIABAN)₫</span>

                                                    @*<span class="original-price"><s>580,000₫</s></span>*@ <!--Gia goc-->

                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        </ma

