@using PagedList
@using PagedList.Mvc
@model PagedList.PagedList<DinoPetStore.EF.SANPHAM>


@{
    ViewBag.Title = "Sản Phẩm Theo Loại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index", "User")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Sản Phẩm Theo Loại</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!--- beverages --->
<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="categories">
                <h2>Danh Mục</h2>
                <ul class="cate">
                    <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Thương Hiệu</a></li>
                    <ul>
                        <li>
                            @Html.Action("thuonghieu", "User")
                        </li>
                    </ul>
                    <li><a href="products.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>Loại Sản Phẩm</a></li>
                    <ul>
                        <li>
                            @Html.Action("loai", "User")
                        </li>
                    </ul>
                </ul> <!--end cate-->
            </div> <!--end categories-->
        </div>

        <div class="col-md-8 products-right">
            <div class="agile_top_brands_grids">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 top_brand_left">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid">
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a href="@Url.Action("Chitiet", "User", new { id = item.MASP })"><img title=" " alt=" Ảnh Sản Phẩm @item.TENSP " src="@Url.Content("~/img/" + @item.HINHANH)" style="height: 295px; width: 175px;"></a>
                                                <p>@item.TENSP</p>
                                                <h4>@String.Format("{0:0,0}", @item.DONGIABAN)</h4>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="cmd" value="_cart">
                                                        <input type="hidden" name="add" value="1">
                                                        <input type="hidden" name="business" value=" ">
                                                        <input type="hidden" name="item_name" value="@item.TENSP">
                                                        <input type="hidden" name="amount" value="@String.Format("{0:0,0}", @item.DONGIABAN)">
                                                        @*<input type="hidden" name="discount_amount" value="@item.GIAMGIA">*@
                                                        <input type="hidden" name="currency_code" value="VND">
                                                        <input type="hidden" name="return" value=" ">
                                                        <input type="hidden" name="cancel_return" value=" ">
                                                        @if (item.SOLUONG != 0)
                                                        {
                                                            <input type="submit" name="submit" value="THÊM VÀO GIỎ" onclick="fun_AddCard(@item.MASP)" class="button" />
                                                        }
                                                        @if (item.SOLUONG == 0)
                                                        {
                                                            <input type="submit" name="submit" value="TẠM HẾT HÀNG" class="button" />
                                                        }
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <br />

                    </div>


                }
                <div class="clearfix"> </div>


            </div> <!--end agile_top_brands_grids-->
            <nav class="numbering">
                <ul class="pagination paging">
                    <li>
                        <div>@Html.PagedListPager(Model, page => Url.Action("SPTheothuonghieu", new { page = page }))</div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>



<script>
    function fun_AddCard(masp) {
        $.ajax({
            type: "GET",
            url: "/GioHang/ThemGiohang",
            data: { "iMASP": masp },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data === "success") {
                    ToastNotify('Thêm vào giỏ hàng thành công', 'success');
                } else {
                    ToastNotify(data, 'warning');
                }
                return false;
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        })
    }
</script>
