@using DinoPetStore.EF
@using PagedList.Mvc
@using PagedList
@model PagedList.PagedList<DinoPetStore.EF.THUONGHIEU>
@{
    ViewBag.Title = "Danh Sách Thương Hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top:10px">DANH SÁCH THƯƠNG HIỆU</h2>
<h4 style="width: 100%; padding-top:20px;">
    <u>
        <a href="@Url.Action("Create", "ThuongHieu")" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <img style="margin-left:25px" src="~/img/icons/add.png" />
            </span>
            <span class="text">THÊM MỚI THƯƠNG HIỆU</span>
        </a>
    </u>
</h4>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">DANH SÁCH THƯƠNG HIỆU</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div><div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="MATH: activate to sort column descending" style="width: 155.281px;">Mã Thương Hiệu</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="TENTH: activate to sort column ascending" style="width: 140px;">Tên Thương Hiệu</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 260.344px;">Logo</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MATH)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TENTH)
                                        </td>
                                        <td>
                                            <img src="@Url.Content("~/img/" + @item.LOGO)" height="100" width="100" />
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", "ThuongHieu", new { id = item.MATH })">
                                                <img src="~/img/icons/icon_Sua.png" />
                                            </a>|
                                            <a href="@Url.Action("Edit", "ThuongHieu", new { id = item.MATH })">
                                                <img src="~/img/info_25px.png" />
                                            </a>|
                                            <a href="@Url.Action("Delete", "ThuongHieu", new { id = item.MATH })">
                                                <img src="~/img/icons/icon_Xoa.png" />
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    Trang @(@Model.PageNumber>Model.PageCount?Model.PageCount: Model.PageNumber)/@Model.PageCount
</div>
<div align="center">@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))</div>
<link href="~/Content/phantrang.css" rel="stylesheet" />





