@using DinoPetStore.EF
@model List<DinoPetStore.Models.GioHang>

@{ ViewBag.Title = "ĐƠN ĐẶT HÀNG - Dino's Pet Store";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index", "User")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Giỏ Hàng</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="checkout">
    <div class="container">
        <h2>Tổng Sổ Lượng: <span>@ViewBag.Tongsoluong</span></h2>
        <div class="checkout-right">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>Mã Sản Phẩm.</th>
                        <th>Sản Phẩm</th>
                        <th>Số Lượng</th>
                        <th>Tên Sản Phẩm</th>

                        <th>Giá Tiền</th>
                        <th>Xóa</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {

                    using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaSp = item.iMASP }))
                    {
                        <tr class="rem1">
                            <td class="invert">@item.iMASP</td>
                            <td class="invert-image"><a href="@Url.Action("Chitiet", "User")"><img src="~/img/@item.gHINHANH" alt="@item.gTENSP" class="img-responsive" /></a></td>
                            <td class="invert" style="width: 250px">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus">&nbsp;</div>
                                        <div class="entry value"><span>1</span></div>
                                        <div class="entry value-plus active">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">@item.gTENSP</td>

                            <td class="invert">@String.Format("{0:0,0}", item.dTHANHTIEN)</td>
                            <td class="invert">
                                <div class="rem" style="width: 100px">
                                    <div class="close1"> </div>
                                </div>
                                <script>
                                    $(document).ready(function (c) {
                                        $('.close1').on('click', function (c) {
                                            $('.rem1').fadeOut('slow', function (c) {
                                                $('.rem1').remove();
                                            });
                                        });
                                    });
                                </script>
                            </td>
                            <td class="invert">
                                <button class="btn-close-white">
                                    @Html.ActionLink("Xóa", "XoaGiohang", new { @iMaSp = item.iMASP })
                                </button>
                            </td>
                        </tr>
}

                }
            </table>
        </div>
    </div>
    <br />
    <div class="container" id="infoOrder">
        <h1 style=" margin-top:35px; color:black; padding-block: inherit; text-align: center"><b>THÔNG TIN ĐẶT HÀNG</b></h1>
        @{ KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
            DONDATHANG ddh; }

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="main">
                <div class="main-content">
                    <div class="section">
                        <div class="section-content section-customer-information no-mb">
                            <div class="fieldset" style="margin-top: 30px">
                                <div class="field field-required field-two-thirds">
                                    <div class="field-input-wrapper col-md-5">
                                        <div class="col-sm-10">
                                            <label class="field-label" for="billing_address_full_name">Họ và tên: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input placeholder="Họ và tên" autocapitalize="off" spellcheck="false" class="field-input text-capitalize" type="text" id="billing_address_full_name" name="billing_address_full_name" value="@kh.HOTENKH">
                                        </div>
                                    </div>
                                </div>

                                <div class="field field-required field-third">
                                    <div class="field-input-wrapper col-md-5">
                                        <div class="col-sm-10">
                                            <label class="field-label" for="billing_address_phone">Số điện thoại: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input type="tel" pattern="\d*" placeholder="Số điện thoại" autocapitalize="off" spellcheck="false" class="field-input" id="billing_address_phone" name="billing_address_phone" value="@kh.DIENTHOAI">
                                        </div>
                                    </div>
                                </div>

                                <div class="field field-required">
                                    <div class="field-input-wrapper col-md-5">
                                        <div class="col-sm-10">
                                            <label class="field-label" for="billing_address_address">Địa chỉ: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input placeholder="Địa chỉ" autocapitalize="off" spellcheck="false" class="field-input text-capitalize" id="billing_address_address" name="billing_address_address" type="text" value="@kh.DIACHI">
                                        </div>
                                    </div>
                                </div>
                                <div class="field field-required">
                                    <div class="field-input-wrapper col-md-5">
                                        <div class="col-sm-10">
                                            <label class="field-label" for="billing_address_address">Email: </label>
                                        </div>

                                        <div class="col-sm-10">
                                            <input placeholder="Email" autocapitalize="off" spellcheck="false" class="field-input text-capitalize" id="billing_address_address" name="billing_address_address" type="text" value="@kh.EMAIL">
                                        </div>
                                    </div>
                                </div>
                                <div class="field field-required">
                                    <div class="field-input-wrapper col-md-5">
                                        <div class="col-sm-10">
                                            <label>Ngày giao hàng:</label>
                                        </div>

                                        <div class="col-sm-10">
                                            <input type="date" style="margin-left: 10px" name="Ngaygiao" />
                                        </div>
                                    </div>
                                </div>
                                <div class="field field-required col-md-12">
                                    <div style="text-align: left; padding: 10px ; margin: 5px 0 10px 10px">
                                        <p style="color: #666; font-style: italic; font-size: 12px; text-align: left;">Vui lòng chọn một hình thức thanh toán để mua hàng</p>
                                        <select id="sl_ThanhToan" name="sl_ThanhToan" class="textCtrl" onchange="ThayDoi();">
                                            <option value="0">Chuyển khoản</option>
                                            <option value="1" selected="selected">Ship COD thanh toán khi nhận hàng</option>
                                        </select>
                                    </div>
                                    <table style="margin: 0 0 10px 10px ;width: 685px; height: 100px; border: 1px solid rgb(208, 208, 208); text-align: center" class="Thanhtoan">
                                        <tr>
                                            <td style="text-align: left; padding-left: 20px">
                                                <p class="Thanhtoan" target="_blank" style="display: none; color: #2d485a; padding-top: 10px; padding-bottom: 10px; ">
                                                    <b style="color: rebeccapurple; font-size:15px">LƯU Ý:</b>
                                                    <br /> - Chỉ nên chuyển khoản sau khi nhân viên bán hàng liên hệ đến bạn xác nhận đơn hàng<br />
                                                    <br /> Ngân hàng Sacombank  - Số TK : <b style="color: #2d485a"> 070103218290 </b>
                                                    <br /> MOMO - <b style="color: #2d485a"> SĐT: 0939542288 </b>
                                                    <br /> Chủ TK : <b style="color: #2d485a"> Nguyễn Viết Thanh </b>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>


                                    <div class="step-footer">
                                        @Html.ActionLink("TRỞ VỀ GIỎ HÀNG", "Giohang", "GioHang")
                                    </div>
                                    <div class="step-footer">
                                        <input type="Submit" class="step-footer-continue-btn btn" value="ĐẶT HÀNG" />
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>


            </div>}
    </div>
</div>


<script>
    $(document).ready(function () {
        getListCart();
    });

    function getListCart() {
        var totalQuan = 0;
        $.ajax({
            type: "GET",
            url: "/GioHang/getListCart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {
                    html = `<thead>
                    <tr>
                        <th>Mã Sản Phẩm.</th>
                        <th>Sản Phẩm</th>
                        <th>Số Lượng</th>
                        <th>Tên Sản Phẩm</th>

                        <th>Giá Tiền</th>
                        <th>Xóa</th>
                        <th></th>
                    </tr>`;
                    $.each(data, function (index, item) {
                        totalQuan += item.iSOLUONG;
                        html += `  <tr class="rem1" style="background-color: white;">
                        <td class="invert">${item.iMASP}</td>
                        <td class="invert-image"><a href="/Chitiet/User"><img src="/img/${item.gHINHANH}" alt="${item.gTENSP}" class="img-responsive" /></a></td>
                        <td class="invert" style="width: 250px">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value-minus">&nbsp;</div>
                                    <div class="entry value"><span>${item.iSOLUONG}</span></div>
                                    <div class="entry value-plus" >&nbsp;</div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">${item.gTENSP}</td>

                        <td class="invert">${item.iTONGTIEN == 0 ? item.dTHANHTIEN : item.iTONGTIEN}</td>
                        <td class="invert">
                            <div class="rem" style="width: 100px">
                                <div class="close1"> </div>
                            </div>
                        </td>
                        <td class="invert">
                            <button class="btn-close-white">
                                Xóa
                            </button>
                        </td>
                    </tr>`
                    });
                    html += "</thead>"
                    $(".timetable_sub").html(html);
                    $("#totalquantity").html(totalQuan);
                }
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        })
    }
    function updateSecsionQty(masp, type) {
        var quantity = 1;
        if (type === "minus") {
            quantity = quantity * -1;
        }
        $.ajax({
            type: "GET",
            url: "/GioHang/updateCart",
            data: { "iMASP": masp, "quantity": quantity },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data != "success") {
                    ToastNotify(data, 'warning');
                } else {
                    getListCart();
                }
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        })
    }

    ////Khi Click "Lấy từ thông tin tài khoản" thì Gán các giá trị của thông tin tài khoản cho thông tin giao hàng

    function ThayDoi() {
        var Chon = document.getElementById("sl_ThanhToan").value;
        if (Chon == "0") {
            $('.Thanhtoan').show();
        }
        else {
            $('.Thanhtoan').hide();
        }
    };

</script>
<style type="text/css">
    #infoOrder {
        background-color: antiquewhite;
        align-items: center;
        display: block;
        margin: 0 auto;
        text-align: start;
    }

    input#billing_address_full_name {
        padding: 5px;
        margin: 10px
    }

    input#billing_address_phone {
        padding: 5px;
        margin: 10px
    }

    input#billing_address_address {
        padding: 5px;
        margin: 10px
    }

    .btn {
        padding: 20px;
        background-color: skyblue;
    }
</style>