
@using DinoPetStore.EF
@model List<DinoPetStore.Models.GioHang>
@{
    ViewBag.Title = "Giỏ Hàng - Dino's Pet Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index", "User")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Giỏ Hàng</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="checkout">
    <div class="container">
        <h2>Tổng Sổ Lượng: <span>@ViewBag.Tongsoluong</span></h2>
        <div class="checkout-right">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>Mã Sản Phẩm.</th>
                        <th>Sản Phẩm</th>
                        <th>Số Lượng</th>
                        <th>Tên Sản Phẩm</th>

                        <th>Giá Tiền</th>
                        <th>Xóa</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {

                    using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaSp = item.iMASP }))
                    {
                        <tr class="rem1">
                            <td class="invert">@item.iMASP</td>
                            <td class="invert-image"><a href="@Url.Action("Chitiet", "User")"><img src="~/img/@item.gHINHANH" alt="@item.gTENSP" class="img-responsive" /></a></td>
                            <td class="invert" style="width: 250px">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus">&nbsp;</div>
                                        <div class="entry value"><span>1</span></div>
                                        <div class="entry value-plus active">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">@item.gTENSP</td>

                            <td class="invert">@String.Format("{0:0,0}", item.dTHANHTIEN)</td>
                            <td class="invert">
                                <div class="rem" style="width: 100px">
                                    <div class="close1"> </div>
                                </div>
                                <script>
                                    $(document).ready(function (c) {
                                        $('.close1').on('click', function (c) {
                                            $('.rem1').fadeOut('slow', function (c) {
                                                $('.rem1').remove();
                                            });
                                        });
                                    });
                                </script>
                            </td>
                            <td class="invert">
                                <button class="btn-close-white">
                                    @Html.ActionLink("Xóa", "XoaGiohang", new { @iMaSp = item.iMASP })
                                </button>
                            </td>
                        </tr>
                    }

                }
                <!--quantity-->
                <script>
                    $('.value-plus').on('click', function () {
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
                        divUpd.text(newVal);
                    });

                    $('.value-minus').on('click', function () {
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
                        if (newVal >= 1) divUpd.text(newVal);
                    });
                </script>
                <!--quantity-->
            </table>
        </div>
        <div class="checkout-left">
            <div class="checkout-left-basket">
                <a href=" @Url.Action("XoaTatcaGiohang")" style="text-decoration: none; margin-bottom: 10px"> Xóa Giỏ Hàng </a>

                <h4><a href="@Url.Action("DatHang", "Giohang")" style="text-decoration: none; color: white;">Đặt Hàng</a></h4>
            </div>
            <div class="checkout-right-basket">
                <h2>Tổng Tiền: <span>@ViewBag.TongTien</span></h2>
                <a href="@Url.Action("sanpham", "User")"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Tiếp Tục Mua Sắm</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //checkout -->


