
@using DinoPetStore.EF
@model List<DinoPetStore.Models.GioHang>
@{ ViewBag.Title = "Giỏ Hàng - Dino's Pet Store";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index", "User")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Giỏ Hàng</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="checkout">
    <div class="container">
        <h2>Tổng Sổ Lượng: <span id="totalquantity"></span></h2>
        <div class="checkout-right">
            <table class="timetable_sub">
            </table>
        </div>
        <div class="checkout-left">
            <div class="checkout-left-basket">
                <a href=" @Url.Action("XoaTatcaGiohang")" style="text-decoration: none; margin-bottom: 10px"> Xóa Giỏ Hàng </a>

                <h4><a href="@Url.Action("DatHang", "Giohang")" style="text-decoration: none; color: white;">Đặt Hàng</a></h4>
            </div>
            <div class="checkout-right-basket">
                <h2>Tổng Tiền: <span>@ViewBag.TongTien</span></h2>
                <a href="@Url.Action("sanpham", "User")"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Tiếp Tục Mua Sắm</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function (c) {
        getListCart();

    });

    function updateSecsionQty(masp, type) {
        var quantity = 1;
        if (type === "minus") {
            quantity = quantity * -1;
        }
        $.ajax({
            type: "GET",
            url: "/GioHang/updateCart",
            data: { "iMASP": masp, "quantity": quantity },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data != "success") {
                    ToastNotify(data, 'warning');
                } else {
                    getListCart();
                }
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        })
    }

    function deleteSecsionQty(masp) {
        $.ajax({
            type: "GET",
            url: "/GioHang/DeleteCart",
            data: { "iMASP": masp },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data == "success") {
                    ToastNotify("Xóa sản phẩm thành công", 'success');
                    getListCart();
                } else {
                    ToastNotify(data, 'warning');
                }
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        })
    }

    function getListCart() {
        var totalQuan = 0;
        $.ajax({
            type: "GET",
            url: "/GioHang/getListCart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                html = `<thead>
                    <tr>
                        <th>Mã Sản Phẩm.</th>
                        <th>Sản Phẩm</th>
                        <th>Số Lượng</th>
                        <th>Tên Sản Phẩm</th>

                        <th>Giá Tiền</th>
                        <th>Xóa</th>
                        <th></th>
                    </tr>`;
                if (data.length > 0) {
                    $.each(data, function (index, item) {
                        totalQuan += item.iSOLUONG;
                        html += `  <tr class="rem1" style="background-color: white;">
                        <td class="invert">${item.iMASP}</td>
                        <td class="invert-image"><a href="/Chitiet/User"><img src="/img/${item.gHINHANH}" alt="${item.gTENSP}" class="img-responsive" /></a></td>
                        <td class="invert" style="width: 250px">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value-minus" onclick="updateSecsionQty(${item.iMASP},'minus')">&nbsp;</div>
                                    <div class="entry value"><span>${item.iSOLUONG}</span></div>
                                    <div class="entry value-plus active" onclick="updateSecsionQty(${item.iMASP},'plus')">&nbsp;</div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">${item.gTENSP}</td>

                        <td class="invert">${item.dTHANHTIEN}</td>
                        <td class="invert">
                            <div class="rem" style="width: 100px">
                                <div class="close1"> </div>
                            </div>
                        </td>
                        <td class="invert">
                            <button class="btn-close-white" onclick="deleteSecsionQty(${item.iMASP})">
                                Xóa
                            </button>
                        </td>
                    </tr>`
                    });
                } else {
                    window.location.reload();
                }
                html += "</thead>";

                $(".timetable_sub").html(html);
                $("#totalquantity").html(totalQuan);
            },
            failure: function (response) {
                alert(response)
                DevExpress.ui.notify(response, 3000);
            },
            error: function (response) {
                alert(response)
            }
        })
    }
</script>
<!-- //checkout -->
